<div class="background-image">

</div>

<div style="margin-left: 30px;">
<h2>Hello, I am <u style="font-style: italic;">Trade-it, </u></h2> 
<p>an order matching software,</p>
<p>I can take orders for amazon equity shares.
You can give me Market as well as Limit orders</p>
<p>If you want your order to get executed completely for single price you can choose all or none option!!</p>

I can generate 30 orders randomly for demonstration purposes.

<p>After matching you can compare your orders in orders after matching orderbook!
You can also see which other order matched with your order in tradebook!</p>
</div>